<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
    
    1, Python 
    2, SQL 
    3, R

Some of the commonly used libraries used by Data Scientists include: 
    
    1, NumPy 
    2, PyTorch 
    3, Pandas 
    4, TensorFlow 
    5, caffe2

| Data Science Tools | 
|--------------------| 
| RStudio            |  
| Apache Spark       | 
| Apache hadoop      |

<H3> Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [5]:
num1 = 3 
num2 = 4 
num3 = 5 


total = (num1 * num2) + num3  
print(total)

17

This will convert 200 minutes to hours by diving by 60.

In [14]:
200 / 60

3.3333333333333335

<H3>Objectives:

* List popular languages for Data Science

* List the commonly used libraries used by Data Scientists include

* the simple arithmetic expression to mutiply then add integers

* Data science Tools

***AUTHOR***

OGBUJI UCHENNA N.